if paginate
        div.row
            div.col-sm
            div(id='pagination-here').col-sm-5.m-4
                if paginate.hasPreviousPages || paginate.hasNextPages(pageCount)
                    .navigation.well-sm#pagination
                        ul.pagination
                            if paginate.hasPreviousPages
                                li.page-item
                                    a(href=paginate.href(true)).page-link Previous
                            if pages
                                each page in pages
                                    li.page-item
                                        a.page-link(href=page.url)= page.number
                            if paginate.hasNextPages(pageCount)
                                li.page-item
                                    a(href=paginate.href()).page-link Next

            div.col-sm

