extends layout

block content
    if blacklist

        p #[strong Phone Number:] #{blacklist.recipient}
        p #[strong ID:] #{blacklist._id}

        p
            a(href=blacklist.url + '/delete') Delete from Blacklist


    else
        p There are no sms here.