extends layout

block content
    if blacklist
        h1 #{title}: #{blacklist.recipient}


        if !blacklist.recipient.length
            p Something wrong
        else
            p Do you really want to delete this Number?

            form(method='POST' action='')
                div.form-group
                    input#blacklistid.form-control(type='hidden', name='blacklistid', required='true', value=blacklist._id )

                button.btn.btn-primary(type='submit') Delete

            a(href='/smsAdmin/blacklist') Back