extends layout

block content

    h2= title
    p
        a(href='/smsAdmin/blacklist/add') Add to Blacklist
        if blacklist_list && blacklist_list.length >= 1
            each sms in blacklist_list
                div.row
                    div.col-xl-8
                        a.list-group-item.list-group-item-action.list-group-item-primary
                            b.margin_right Recipient:
                            span.margin_right #{sms.recipient}
                    div.col-sm.d-flex.justify-content-between.align-items-center
                        a(href=sms.url) View


        else
            li There are no sms in blacklist.

        include _paginate