extends layout

block content

    h3= title
    //p
    //    a(href='/smsAdmin/daily_messages/add') Add to Daily

    if daily_list && daily_list.length >= 1
        each sms in daily_list
            div.container
                div.row
                    div.col-xl-8
                        a.list-group-item
                            b.margin_right Recipient:
                            span.margin_right #{sms.recipient}
                    div.col-sm.d-flex.justify-content-between.align-items-center
                        a(href=sms.url) Edit

    else
        li There are no daily messages.

    include _paginate