extends layout

block content
    if hourly
        h2 Delete from Hourly messages
        p #[strong Recipient:] #{hourly.recipient}

        if !hourly.recipient.length
            p Something wrong
        else
            p Do you really want to delete this Number?

            form(method='POST' action='')
                div.form-group
                    input#blacklistid.form-control(type='hidden', name='hourlyid', required='true', value=hourly._id )

                button.btn.btn-primary(type='submit') Delete

            a(href='/smsAdmin/hourly_messages') Back