extends layout

block content

    h2= title
    //p
    //    a(href='/smsAdmin/hourly_messages/add') Add to Hourly

    if hourly_list && hourly_list.length >= 1
        each sms in hourly_list
            div.container
                div.row
                    div.col-xl-8
                        a.list-group-item.list-group-item-action.list-group-item-primary
                            b.margin_right Recipient:
                            span.margin_right #{sms.recipient}
                    div.col-sm.d-flex.justify-content-between.align-items-center
                        a(href=sms.url) Edit

    else
        li There are no hourly messages.

    include _paginate