extends layout
block content

    h1= title
    p
        h4 Welcome

    if error
        p Error getting content.
    else if data
        p The messages counts:


        ul
            li #[strong All SMS:] !{data.sms_count}
            li #[strong Whitelist:] !{data.whitelists_count}
