extends layout

block content
    script(src='/javascripts/notify.js')
    h1= title

    if sms_list
        each sms in sms_list
            div.container
                div.row
                    div.col-lg-10
                        a.list-group-item.list-group-item-action.list-group-item-primary
                            b.margin_right Recipient:
                            span.margin_right #{sms.recipient}
                            b.margin_right Message:
                            span #{sms.content}
                    div.col-sm
                        button().btn.btn-primary Edit
    else
        li There are no sms.