extends layout

block content
    script(src='/javascripts/notify.js')

    h3= title
    if sms_list && sms_list.length >= 1
        each sms in sms_list
            div.container
                div.row
                    div.col-xl-8
                        a.list-group-item
                            b.margin_right Recipient:
                            span.margin_right #{sms.recipient}
                            b.margin_right Message:
                            span #{sms.content}
                    div.col-sm.d-flex.justify-content-between.align-items-center
                        form(method='' action=sms.url)
                            button.btn.btn-primary View
    else
        div There are no sms.

    include _paginate