extends layout

block content
    script(src='/javascripts/notify.js')

    h2= title
    if sms_list && sms_list.length >= 1
        each sms in sms_list
            div.container
                div.row
                    div.col-xl-8
                        a.list-group-item.list-group-item-action.list-group-item-primary
                            b.margin_right Recipient:
                            span.margin_right #{sms.recipient}
                            b.margin_right Message:
                            span #{sms.content}
                    div.col-sm.d-flex.justify-content-between.align-items-center
                        a(href=sms.url) View

    else
        div There are no sms.

    include _paginate